* {
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');


body {
	margin: 0;
    padding: 0;
    background-color: #A4BBCB;
    font-family: 'Playfair Display', serif;
}

.app {
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
}

.menu {
    display: none;
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #114B5F;
    color: #fff;
    margin: 80vh 0 0 82vw;
    padding: 8px;
    text-align: center;
    opacity: 0.6;
    z-index: 1;
}

.menu:hover {
    opacity: 1;
}

.sidenav {
    height: 100vh;
    background-color: #114B5F;
    color: #CF9CA3;
    border-radius: 0;
    border: none; outline: none;
    box-shadow: 7px -1px 8px 5px rgba(0,0,0,0.2);
    z-index: 1;
}

.main-content {
    height: 100vh;
    align-items: center;
}

.header {
    position: fixed;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    background-color: #114B5F;
    
    z-index: 1;
}

@media(min-width:320px) {
    .sidenav {
        display: none;
        width: 170px;
        position: fixed;
    }

    .main-content {
        display: block;
        margin: 0 auto;
        margin-top: -40px;
    }

    .header {
        border-radius: 0 0 10px 10px;
    }

    .menu {
        display: block;
    }
}

@media(min-width:500px) {
    .sidenav {
        display: block;
        position: fixed;
        width: 170px;
        z-index: 1;
    }

    .menu {
        display: none;
    }

    .main-content {
        margin-left: 170px;
        margin-top: -55px;
    }

    .header {
        border-radius: 0;
    }

}

@media(max-height: 320px) {
    .sidenav {
        overflow: scroll
    }
    
}
