@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #c1c1c1;
    font-family: 'Playfair Display', serif;
}

.app {
    position: absolute;
    display: block;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}
