.contact {
    display: block;
    margin: 0 auto;
    padding-top: 40px;
    align-items: center;
}

.contact > img {
    display: block;
    margin: 0 auto;
}

.contact > p {
    margin: 10px auto;
    text-align: center;
    width: 80%;
    padding: 0.5em;
    font-weight: 600;
    line-height: 2em;
}

@media(min-width:320px) {
    .contact > img {
        width: 150px;
        height: 150px;
        margin: 20px auto;
    }

    .contact > p {
        width: 80%;
        font-size: 0.9em;
    }
}

@media(min-width:768px) {
    .contact > img {
        width: 220px;
        height: 220px;
        margin: 25px auto;
    }

    .contact > p {
        width: 55%;
        font-size: 1em;
    }
}