a {
    text-decoration: none;
}

.nav-show {
    display: block;
}

.sidenav-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    margin: 40px auto;
    margin-bottom: 20px;
    box-shadow: 1px 3px 8px 7px rgba(0,0,0,0.3);
}

.sidenav > h3 {
    margin: 10px auto;
    text-align: center;
}

.sidenav > h5 {
    margin: 10px auto;
    text-align: center;
}

.navegacion {
    list-style: none;
    padding: 0;
    margin: 30px auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.navegacion > li {
    text-align: center;
    width: 100%;
}

.navegacion > li > a {
    color: #e6e6e6;
}

.active {
    display: block;
    background-color: #707070;
    border-radius: 10px;
}

.contact-options {
    text-align: center;
}

.contact-options > a  {
    padding: 8px 8px 0 8px;
}

.contact-options > a > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.contact-options > a > img:hover {
    transform: translateY(-3px);
}

/* Otros dispositivos */
@media(min-width: 320px) {
    .sidenav-img {
        margin-top: 48px;
    }

    .navegacion {
        margin-bottom: 25px;
    }

    .nav-hide {
        display: none;
    }

    .navegacion > li {
        padding: 5px 0;
        font-size: 1em;
    }

    .contact-options {
        margin-top: 35px;
        margin-bottom: 5px;
        text-align: center;
    }

}

@media(min-width: 768px) {
    .sidenav-img {
        margin-top: 40px;
    }

    .navegacion {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .nav-hide {
        display: block;
    }

    .navegacion > li {
        padding: 10px 0 5px 0;
        font-size: 0.85em;
    }

    .contact-options {
        margin-top: 40px;
        text-align: center;
    }

}

@media(min-width: 1024px) {
    .navegacion {
        margin-top: 40px;
        margin-bottom: 40px;
    }



    .contact-options {
        margin-top: 70px;
    }
}

@media(max-height: 320px) {
    .nav-hide {
        display: block;
    }
}

