a {
    text-decoration: none;
}

.nav-bar {
    background-color: #05547B;
    position: fixed;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 50px;
    border-bottom: solid 5px #C2B8B2;
    box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

.menu {
    display: none;
    color: #f5f5f5;
    padding: 10px 0 10px 0;
}

.navegacion {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-show {
    display: block;
    margin: 0 auto;
    max-height: 280px;
}

.nav-hide {
    display: none;
}

.navegacion > li {
    padding: 5px;
    text-align: center;
    font-weight: 600;
}

.navegacion > li > a {
    color: #e6e6e6;
}

/* Otros dispositivos */
@media(min-width: 320px) {
    .menu {
        display: block;
        text-align: center;
    }

    .navegacion {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .navegacion > li {
        padding: 10px 0;
        text-align: center;
        font-size: 1em;
    }
}

@media(min-width: 768px) {
    .menu {
        display: none;
    }

    .navegacion {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin: 5px auto;
        justify-content: center;
    }

    .navegacion > li {
        padding: 10px 10px 5px 10px;
        text-align: center;
        font-size: 1em;
    }
}

@media(min-width: 1024px) {
    .navegacion {
    }
}

@media(min-width: 1100px) {
    .navegacion {
    }
}

@media(min-width: 1300px) {
    .navegacion {
    }
}