.profile {
    background-image: url('../../img/moonys.jpg');
    background-position: center;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 101vh;
    align-items: center;
    color: #3A3838;
}

.profile h4 {
    text-align: center;
    padding-top: 55px;
    font-size: 1.8em;
    font-weight: 500;
}

.profile hr {
    width: 40%;
    margin-top: -20px;
    border: 1px solid #707070;
}

.profile p {
    margin: 20px auto;
    text-align: center;
    font-weight: 500;
}

.show-roles {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.show-roles > div {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.roles-left, .roles-right {
    background-color: #3A3838;
    color: #F2F2F2;
    padding: 10px;
}

.roles-left {
    border-radius: 10px 0 0 10px;
}

.roles-right {
    border-radius: 0 10px 10px 0;
}

i:hover {
    cursor: pointer;
    opacity: 0.9;
}

.roles-name {
    background-color: #0473C3;
    color: #F2F2F2;
    padding: 10px 0 10px 0;
    text-align: center;
    width: 224px;
}

.show-roles > img {
    border-radius: 10px;
    box-shadow: 1px 3px 10px 2px rgba(0,0,0,0.3);
}

/* MY TOOLS */
.my-tools {
    text-align: center;
    margin: 10px auto;
    margin-bottom: 30px;
    color: #CF9CA3;
    padding-top: 10px;
}

.tools-skills {
    margin: 8px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 130px));
    grid-auto-rows: 45px;
    grid-gap: 10px;
    grid-auto-flow: dense;
    padding: 15px 0 10px 0;
    justify-content: center;

    border-radius: 10px;
    background-color: #EDDBDD;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.3);
}

.skill-tech {
    width: 120px;
    height: 36px;
    margin: 0 auto;
    display: grid;
    gap: 1px;
    grid-template-areas:
    'img name'
    'img name';
    background-color: #F2F2F2;
    box-shadow: 1px -1px 2px 2px rgba(0,0,0,0.3);
    border-radius: 25px;
}

.skill-tech > img {
    grid-area: img;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 3px 1px 1px 10px;
}

.skill-tech > h4 {
    grid-area: name;
    display: flex;
    margin: 8px 5px 0 0;
    font-size: 0.8em;
    font-weight: 600;
    color: #3A3838;
}

/* MY WORK EXPERIENCE */
.working-on {
    text-align: center;
    margin: 20px auto;
    color: #CF9CA3;
}

.working-on > h2 {
    margin: 5px auto;
} 

.work-experience {
    display: flex;
}

.work-experience > div {
    margin: 10px auto;
}

.experience {
    display: flex;
    flex-flow: column;
    border-radius: 10px;
    font-weight: 200;
    color: #F5F5F5;
    background-color: #252525;
    box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.3);
}

.experience:hover {
    transform: translateY(-10px);
}

.experience > img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    border-bottom: solid 1px #3A3838;
}

.experience > span {
    text-align: center;
    padding: 7px 0;
}

.experience > p {
    text-align: justify;
    margin: 0 auto;
    font-size: 0.9em;
    line-height: 1.7em;
}

.experience-period {
    margin: 10px auto;
    font-size: 0.8em;
}

@media(min-width:320px) {
    .profile {
        margin-top: 40px;
        background-repeat: no-repeat;
    }

    .profile hr {
        width: 80%;
    }

    .profile p {
        width: 80%;
        font-size: 1.1em;
        margin-bottom: 8px;
    }

    .show-roles {
        padding-top: 30px;
    }

    .show-roles > img {
        width: 85%;
        height: 190px;
        margin: 25px auto;
    }

    .tools-skills {
        width: 85%;
    }

    .work-experience {
        flex-flow: column;
        align-items: center;
        padding: 20px 0 35px 0;
    }

    .experience {
        width: 85%;
        max-height: 525px;
    }
    
    .experience > img {
        height: 210px;
    }

    .experience > p {
        padding: 10px 10px 0 10px ;
        font-size: 0.9em;
    }
}

@media(min-width:500px) {
    .profile {
        margin-top: 55px;
        background-repeat: repeat-x;
        background-position: top;
    }

    .profile hr {
        width: 60%;
    }

    .profile p {
        width: 80%;
    }

    .show-roles {
        padding-top: 45px;
    }

    .show-roles > img {
        width: 50%;
        margin: 45px auto;
        max-height: 200px;
    }

    .tools-skills {
        width: 60%;
    }

    .work-experience {
        flex-flow: row;
        align-items: baseline;
        padding: 10px 0 25px 0;
    }

    .experience {
        width: 31%;
        height: 500px;
    }
    
    .experience > img {
        height: 230px;
    }

    .experience > p {
        padding: 10px;
        font-size: 0.8em;
    }
}

@media(min-width:1024px) {
    .profile hr {
        width: 35%;
    }

    .profile p {
        width: 55%;
        font-size: 1.5em;
    }

    .show-roles {
        padding-top: 38px;
    }

    .show-roles > img {
        margin-top: 65px;
        height: 210px;
    }

    .work-experience {
        flex-flow: row;
        align-items: baseline;
        padding: 30px 0 20px 0;
    }

    .experience {
        width: 28%;
        height: 465px;
    }
    
    .experience > img {
        height: 250px;
    }

    .experience > p {
        padding: 15px;
    }
}