.about {
    font-weight: 600;
    background-color: #197BBD;
    display: grid;
    gap: 10px;
}

.about > div {
    border-radius: 10px;
    background-color: #F3F4F5;
    box-shadow: 10px -1px 20px 2px rgba(0,0,0,0.8);
}

.about > div > span {
    display: block;
    padding: 12px 0 5px 0;
    text-align: center;
}

.about > div > img {
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 10px -1px 5px 5px rgba(0,0,0,0.2);
}

.about > div > p {
    text-align: justify;
    padding: 0.2em 1.5em;
}

.intro {
    grid-area: intro;

}

.looking {
    grid-area: looking;

}

.skills {
    grid-area: skills;

}

.cards-title {
    display: block;
    padding: 20px 0 0px 0;
    text-align: center;
    color: #F3F4F5;
    background-color: #252525;
}

.cards {
    background-color: #252525;
    display: flex;
}

.cards > div {
    margin: 10px auto;
}

.card {
    display: flex;
    flex-flow: column;
    border-radius: 10px;
    background-color: #404040;
    color: #fff;
    box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.5);
}

.card:hover {
    transform: translateY(-10px);
}

.card > img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card > img:hover {
    opacity: 0.7;
}

.card > span {
    text-align: center;
    padding: 7px 0;
}

.card > p {
    text-align: justify;

    margin: 0;
    font-size: 0.9em;
}

.checkout {
    display: block;
    text-align: center;
    color: #F3F4F5;
    background-color: #252525;
}

.checkout > p {
    margin: 0 auto;
}

.checkout > p:hover {
    cursor: pointer;
}

.contact {
    display: block;
    text-align: center;
    color: #F3F4F5;
    background-color: #FF7C39;
    padding: 20px 10px 30px 10px;
}

.contact-logos {
    margin-top: 30px;
    background-color: #FF7C39;
}

.contact-logos > a  {
    padding: 8px 8px 0 8px;
}

.contact-logos > a > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #FF7C39;
}

.contact-logos > a > img:hover {
    transform: translateY(-3px);
}

.tools-skills {
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 130px));
    grid-auto-rows: 45px;
    grid-gap: 10px;
    grid-auto-flow: dense;
    padding-bottom: 10px;
    justify-content: center;
}

.skill-tech {
    width: 120px;
    height: 36px;
    margin: 0 auto;
    display: grid;
    gap: 1px;
    grid-template-areas:
    'img name'
    'img name';
    background-color: #F3F4F5;
    box-shadow: 1px -1px 2px 2px rgba(0,0,0,0.3);
    border-radius: 25px;
}

.skill-tech > img {
    grid-area: img;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 3px 1px 1px 10px;
}

.skill-tech > h4 {
    grid-area: name;
    display: flex;
    margin: 8px 5px 0 0;
    font-size: 0.85em;
    font-weight: 600;
}

.skill-tech > span {
    grid-area: level;
    margin-bottom: 4px;
    font-size: 0.67em;
    font-weight: 400;
}

@media(min-width:320px) {
    .about {
        margin-top: 45px;
        padding: 20px 10px 30px 10px;
        gap: 10px;
        grid-template-areas:
        'intro intro'
        'looking looking'
        'skills skills';
    }
    
    .about > div {
        font-size: 0.9em;
        border-radius: 10px;
        background-color: #F3F4F5;
        box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.2);
    }

    .cards-title {
        font-size: 1.2em;
    }

    .cards {
        flex-flow: column;
        align-items: center;
        padding: 40px 0 35px 0;
    }

    .card {
        width: 90%;
        height: 510px;
    }
    
    .card > img {
        height: 250px;
    }

    .card > p {
        padding: 10px 10px 10px 10px;
    }

    .checkout {
        padding: 1px 0px 30px 0px;
        font-size: 0.85em;
    }

    .checkout > p {
        width: 85%;
    }
}

@media(min-width:768px) {
    .about {
        margin-top: 55px;
    }

    .cards {
        flex-flow: row;
        align-items: baseline;
        padding: 45px 0 55px 0;
    }

    .card {
        width: 31%;
        height: 605px;
    }
    
    .card > img {
        height: 250px;
    }

    .card > p {
        padding: 10px 20px 10px 20px;
    }

    .checkout {
        padding: 1px 0px 30px 0px;
        font-size: 1em;
    }

    .checkout > p {
        width: 55%;
    }
}

@media(min-width:1024px) {
    .about {
        margin-top: 50px;
        padding: 55px 50px 80px 50px;
        gap: 10px;
        grid-template-areas:
        'intro intro looking looking'
        'intro intro skills skills'
        'intro intro skills skills'
        'intro intro skills skills';
    }
    
    .about > div {
        border-radius: 10px;
        background-color: #F3F4F5;
        box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.2);
    }

    .cards-title {
        font-size: 2em;
    }

    .cards {
        flex-flow: row;
        align-items: baseline;
        padding: 50px 0 70px 0;
    }

    .card {
        width: 30%;
        height: 525px;
    }
    
    .card > img {
        height: 280px;
    }

    .card > p {
        padding: 10px 33px 10px 33px;
    }

    .checkout {
        padding: 1px 0px 30px 0px;
        font-size: 1em;
    }

    .checkout > p {
        width: 40%;
    }
}


