.about {
    font-weight: 600;
    background-color: #197BBD;
    display: grid;
    gap: 10px;
}

.about > div {
    border-radius: 10px;
    background-color: #F3F4F5;
    box-shadow: 10px -1px 20px 2px rgba(0,0,0,0.8);
}

.about > div > span {
    display: block;
    padding: 12px 0 5px 0;
    text-align: center;
}

.about > div > img {
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 10px -1px 5px 2px rgba(0,0,0,0.2);
}

.about > div > p {
    text-align: justify;
    padding: 0.2em 1.5em;
}

.intro {
    grid-area: intro;

}

.looking {
    grid-area: looking;

}

.skills {
    grid-area: skills;

}

.cards-title {
    display: block;
    padding: 20px 0 0px 0;
    text-align: center;
    color: #F3F4F5;
    background-color: #404040;
}

.cards {
    background-color: #404040;
    display: flex;
}

.cards > div {
    margin: 10px auto;
}

.card {
    display: flex;
    flex-flow: column;
    border-radius: 10px;
    background-color: #A0A0A0;
}

.card > img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

@media(min-width:320px) {
    .about {
        margin-top: 40px;
        padding: 20px 10px 30px 10px;
        gap: 10px;
        grid-template-areas:
        'intro intro'
        'looking looking'
        'skills skills';
    }
    
    .about > div {
        font-size: 0.9em;
        border-radius: 10px;
        background-color: #F3F4F5;
        box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.2);
    }

    .cards-title {
        font-size: 1.2em;
    }

    .cards {
        flex-flow: column;
        align-items: center;
        padding: 40px 0 90px 0;
        box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.2);
    }

    .card {
        width: 90%;
        height: 480px;
    }
    
    .card > img {
        height: 250px;
    }
}

@media(min-width:768px) {
    .about {
        margin-top: 55px;
    }

    .cards {
        flex-flow: row;
        align-items: baseline;
        padding: 50px 0 90px 0;
    }

    .card {
        width: 30%;
        height: 550px;
    }
    
    .card > img {
        height: 250px;
    }
}

@media(min-width:1024px) {
    .about {
        margin-top: 50px;
        padding: 55px 50px 80px 50px;
        gap: 10px;
        grid-template-areas:
        'intro intro looking looking'
        'intro intro skills skills'
        'intro intro skills skills'
        'intro intro skills skills';
    }
    
    .about > div {
        border-radius: 10px;
        background-color: #F3F4F5;
        box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.2);
    }

    .cards-title {
        font-size: 2em;
    }

    .cards {
        flex-flow: row;
        align-items: baseline;
        padding: 50px 0 90px 0;
    }

    .card {
        width: 30%;
        height: 450px;
    }
    
    .card > img {
        height: 250px;
    }
}


