.header {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    color: #3A3838;
    align-self: center;
    padding-right: 5px;
    padding-left: 5px;
}

.header h4 {
    text-align: center;
    display: block;
    margin: 5px auto;
    font-weight: 500;
    border-bottom: 2.5px solid #707070;
    padding-top: 20px;
    padding-bottom: 5px;
}
/*****************************************
    OTHER DEVICES
*****************************************/
@media(min-width:320px) {
    .header {
        width: 81%;
    }

    .header h4 {
        font-size: 1.5em;
    }
}

@media(min-width:500px) {
    .header {
        width: 85%;
    }

    .header h4 {
        font-size: 1.9em;
    }
}

@media(min-width:650px) {
    .header {
        width: 70%;
    }
}

@media(min-width:1000px) {
    .header {
        width: 35%;
        margin-bottom: 15px;
    }
}