.teaching {
    display: block;
    padding-top: 20px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.teaching > h4 {
    text-align: center;
    padding-top: 5px;
    font-weight: 500;
    
}

.teaching > hr {
    margin-top: -15px;
    margin-bottom: 40px;
    border: 1px solid #707070;
}

.content {
    margin: 30px auto;
    padding-bottom: 15px;
    border-radius: 10px;
    
    display: grid;
    grid-template-columns: repeat(5, minmax(50px, 1fr));
    grid-template-rows: 35px auto;
}

.show-button {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    border-radius: 20px;
    padding-top: 5px;
    box-shadow: -1px 1px 4px 3px rgba(0,0,0,0.2);
}

.show-button-inactive {
    background-color: #404040;
    color: #F5F5F5;
}

.show-button-active {
    background-color: #F5F5F5;
    color: #404040;
}

.show-button:hover {
    cursor: pointer;
}

.type {
    grid-column: 2/-1;
    grid-row: 1/2;
    border-radius: 20px;
    margin-left: 15px;
    padding-top: 7px;
    text-align: center;
    font-weight: 600;
    background-color: #114B5F;
    color: #F9F9F9;
    box-shadow: -1px 1px 4px 3px rgba(0,0,0,0.2);
}

.show {
    grid-column: 1/-1;
    grid-row: 2/-1;
    display: flex;
    flex-flow: column;
    margin: 10px auto;
    padding: 0;
    list-style: none;
}

.show > li {
    margin: 15px auto;
    border-radius: 10px;
    background-color: #F5F5F5;
    display: grid;

    grid-template-columns: repeat(5, minmax(50px, 1fr));
    grid-template-rows: auto auto 35px;
    box-shadow: 1px 1px 2px 3px rgba(0,0,0,0.2);
    text-align: center;
}

.show > li > h5 {
   grid-column: 1/4;
   grid-row: 1/2;
   margin: 0;
   padding: 5px;
   border-radius: 10px 0 0 0;
   font-size: 0.8em;
   font-weight: 200;
   color: #fff;
   background-color: #006992;
}

.show > li > span {
   grid-column: 4/-1;
   grid-row: 1/2;
   margin-top: 0px;
   padding: 11px;
   font-size: 0.7em;
   border-radius: 0 10px 0 0;
   font-weight: 500;
   background-color: #404040;
   color: #fff;
}

.show > li > p {
   grid-column: 1/-1;
   grid-row: 2/3;
   display: flex;
   margin: 0 auto;
   padding: 0.8em;
   font-size: 0.75em;
   font-weight: 600;
   color: #404040;
}

.show > li > a {
   grid-column: 1/-1;
   grid-row: 3/-1;
   margin: 3px auto;
   text-decoration: underline; 
   padding: 5px;
   font-size: 0.7em;
   font-weight: 600;
   color: #252525;
}

.hide {
    display: none;
}

/***************************************************
 Animations
***************************************************/
.fadeIn {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/***************************************************
 Other devices
***************************************************/
@media(min-width:320px){
    .teaching {
        margin-top: 40px;
    }

    .teaching > h4 {
        font-size: 1.2em;
        padding: 10px;
    }

    .teaching > hr {
        width: 90%;
    }

    .content {
        width: 70%;
    }
}

@media(min-width:768px){
    .teaching {
        margin-top: 55px;
    }

    .teaching > h4 {
        font-size: 1.4em;
    }

    .teaching > hr {
        width: 63%;
    }

    .content {
        width: 60%;
    }

    .show > li {
        width: 400px;
    }
}